/* 
Authors: D4KiR, MaxPlayZ.
Docs: https://yourrp.maxplayz.de/
*/

// Variables
$primary-color: #1771F0;
$white: #fff;
$black: #000;
$border-radius: 1%;

// Elements
Health {
    position: absolute;
    background-color: rgba( $black, 0 );
    border-radius: $border-radius;
    left: 1%;
    bottom: 1%;
    font-size: 40px;
    font-weight: bold;
    color: $white;
    height: 4%;
    padding: 0 10px;
    align-items: center;

    .icon {
        font-size: 30px;
        padding-right: 10px;
    }
}

.background_health {
    position: absolute;
    background-color: rgba( $black, 0.5 );
    border-radius: $border-radius;
    font-size: 40px;
    font-weight: bold;
    color: $white;
    height: 100%;
    padding: 0 0px;
    align-items: center;
}

.bar_health {
    position: absolute;
    background-color: rgba( $primary-color, 0.5 );
    border-radius: $border-radius;
    font-size: 40px;
    font-weight: bold;
    color: $white;
    height: 100%;
    padding: 0 0px;
    align-items: center;
}

Armor {
    position: absolute;
    background-color: rgba( $black, 0.5 );
    border-radius: $border-radius;
    left: 1%;
    bottom: 3%;
    font-size: 40px;
    font-weight: bold;
    color: $white;
    height: 4%;
    padding: 0 10px;
    align-items: center;

    .icon {
        font-size: 30px;
        padding-right: 10px;
    }
}

Role {
    position: absolute;
    background-color: rgba( $black, 0.5 );
    border-radius: $border-radius;
    left: 1%;
    bottom: 5%;
    font-size: 40px;
    font-weight: bold;
    color: $white;
    height: 4%;
    padding: 0 10px;
    align-items: center;

    .icon {
        font-size: 30px;
        padding-right: 10px;
    }
}

text.title
{
	font-family: Poppins;
	font-size: 50px;
	font-weight: 900;
	color: $white;
	position: absolute;
	left: 100px;
	top: 100px;
	text-shadow: 2px 2px 10px rgba( $black, 0.8 );
}




